---
- name: "Include vars into the CyberArk variable from {{ credentials_file }} "
  ansible.builtin.include_vars:
    file: "{{ credentials_file }}"
    name: venafi

- name: "Show execution mode"
  ansible.builtin.debug:
    msg: "certificate_remote_execution is {{ certificate_remote_execution }}"

- name: "Local certificate task"
  ansible.builtin.import_tasks: local-certificate.yml
  when: not certificate_remote_execution

- name: "Remote certificate task"
  ansible.builtin.import_tasks: remote-certificate.yml
  when: certificate_remote_execution
